In [13]:
import pandas as pd
from pandasql import sqldf
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)
pysqldf = lambda q: sqldf(q, globals())
con=engine

In [14]:
svalues = pd.read_csv('Training-set-values.csv')
labels = pd.read_csv('Training-set-labels.csv')

In [15]:
q = """SELECT * 
    FROM svalues
        LEFT JOIN labels
            ON svalues.Id = labels.id;"""

In [16]:
joined = pysqldf(q)
print(joined.head(3))

      id  amount_tsh date_recorded        funder  gps_height     installer  \
0  69572      6000.0    2011-03-14         Roman        1390         Roman
1   8776         0.0    2013-03-06       Grumeti        1399       GRUMETI
2  34310        25.0    2013-02-25  Lottery Club         686  World vision

   longitude  latitude     wpt_name  num_private  ... quality_group  \
0  34.938093 -9.856322         none            0  ...          good
1  34.698766 -2.147466     Zahanati            0  ...          good
2  37.460664 -3.821329  Kwa Mahundi            0  ...          good

       quantity quantity_group                source           source_type  \
0        enough         enough                spring                spring
1  insufficient   insufficient  rainwater harvesting  rainwater harvesting
2        enough         enough                   dam                   dam

  source_class              waterpoint_type  waterpoint_type_group     id  \
0  groundwater           communal standpipe     communal standpipe  69572
1      surface           communal standpipe     communal standpipe   8776
2      surface  communal standpipe multiple     communal standpipe  34310

  status_group
0   functional
1   functional
2   functional

[3 rows x 42 columns]

In [17]:
df = pd.read_sql_query(q, con)
df.to_csv('out.csv', header=False, sep='|', index=False)

OperationalError: (sqlite3.OperationalError) no such table: svalues
[SQL: SELECT *
    FROM svalues
        LEFT JOIN labels
            ON svalues.Id = labels.id;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)